.rovo-inquiry-form__select--error {
  color: #FF8181;
  border-color: #FF8181;
}

.rovo-inquiry-form__field--error {
  color: #FF8181;
  border-color: #FF8181;
}

.rovo-inquiry-form__field--error::placeholder{
  color: #FF8181;
}

.form-success>.rovo-inquiry-form__button{
  background-color: #000;
}