/* modal */
.overflow-hidden {
overflow: hidden;
}

/* modal transition */
.rovo-list__item {
transition: .3s;
}

/* modal behaviour */
.modal-open>.rovo-list-modal {
  transform: translate(0%, 0px);
}

/* avoid click on plus icon */
.rovo-modal-open_btn {
  pointer-events: none;
}

@media only screen and (min-width: 768px) {
  .modal-open>.rovo-list-modal--overlay {
    display: block;
    opacity: 1;
  }
}