.overflow-hidden {
  overflow: hidden;
}

.form-success {
  pointer-events: none;
}

.rovo-checkbox-field-error>.rovo-checkbox {
  border-color: #FF8181;
}

.rovo-checkbox-field-error>.rovo-checkbox__label {
  color: #FF8181;
}

.rovo-checkbox-field-error>.rovo-checkbox__label>.rovo-checkbox__link {
  color: #FF8181;
}

.rovo-main__animation {
  width: 100%;
  height: 100vh;
  transform: translateY(100%);
  background-color: white;
  z-index: 100;
  position: fixed;
}


.rovo-home-animation--active {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* avoid clicking on first link of footer that is just a text */
.rovo-footer-link-list__item:first-of-type {
  pointer-events: none;
}

/* avoid clicking on reels header */
.rovo-reels-header-brand {
  pointer-events: none;
}

.rovo-header-mobile__btn--clone-reel {
  position: fixed;
  left: 25px;
  top: 22px;
  z-index: 101;
}

.rovo-header-brand__image--clone-reel {
  position: fixed;
  left: 25px;
  top: 22px;
  z-index: 101;
}


@media only screen and (min-width: 768px) {
  .rovo-header-brand__image--clone-reel {
    left: 30px;
    top: 25px;
  }
}

@media only screen and (min-width: 992px) {
  .rovo-header-brand__image--clone-reel {
    top: 30px;
  }
}